#title {
  color: black;
  text-align: center;
  font-size: 32px;
  padding-top: 10px;
}

#main {
  background-color: white;
  width: 80%;
  margin: 0px auto;

}

#chart {
  width: 800px; 
  margin: 0 auto; 
}


.bar {
  fill: #91C3D8;
}

.bar:hover {
  fill: #A6D4E4;
}

#tooltip {
  position: absolute;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  pointer-events: none;
  display: none;
  box-shadow: 0 0 5px 2px;
  opacity: 1;
  z-index: 1000;
}

body {
  background-color: #707F8F;
}